@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
    text-align: center;
}

canvas {
    height: 800px;
    width: 1200px;
    border: 2px solid black;
}

#battle {
    height: 800px;
    width: 1200px;
}
#battle-screen{
    height: 800px;
    width: 1200px;
}
.playerStats {
    position: absolute;
    top: 150px;
    left: 100px;
    height: 100px;
    width: 200px;
    color :white;
    border: 5px solid white;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
}

.playerStatsMap {
    position: absolute;
    top: 50px;
    left: 150px;
    height: 120px;
    width: 230px;
    color :white;
    border: 5px solid white;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
}

/* .map-landmark {
    width: 80px;
    height: 80px;
    border: 5px solid red;
} */

#west-shop {
    position:absolute;
    width: 44px;
    height: 44px;
    border: 1px solid black;
    top: 277px;
    left: 260px;
}

#east-shop {
    position:absolute;
    width: 44px;
    height: 44px;
    border: 1px solid black;
    top: 366px;
    left: 1066px;
}

.monsterStats {
    position: absolute;
    top: 200px;
    left: 900px;
    height: 100px;
    width: 200px;
    color :white;
    border: 5px solid white;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
}

.hidden {
    display: none
}

#menu {
    position: absolute;
    top: 350px;
    left: 100px;
    height: 100px;
    width: 200px;
    color: white;
    border: 5px solid white;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
}

.menu-item {
    cursor: pointer;
}

.HP {
    margin: 10px 0 0 10px;
}

.stats {
    margin: 10px 0 0 10px;
}

#hero-container{
    position: absolute;
    top: 555px;
    left: 200px;
    height: 350px; 
    width: 225px; 
}

#monster-container {
    height: 250px; 
    width: 150px; 
    position: absolute;
    top: 610px;
    left: 900px;
}

#battle-hero {
    width: 100%;
    height: auto;
}

.battle-monster {
    width: 100%;
    height: auto;
}